body{
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background:white;
}
.box{
  background-color: #ffff88;
  box-shadow: -2px 2px 1px;
  width: auto;
  padding: 10px;
  margin: 2% 0 0;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
}
.hole{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 10px;
}
.hole div{
  background-color: white;
  box-shadow: inset -2px .5px 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.addBar{
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #fdfdfd;
  padding: 10px;
  border-radius: 20px;
}
.addBar input{
  outline: none;
  border: 0;
  font-size: 20px;
}
.addBar button{
  color: white;
  font-weight: 500;
  background: #0073ff;
  box-shadow: 2px 3px 2px black;
  border: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.addBar button:active{
  box-shadow: inset -2px 0px 5px black;
}
.content{
  display: flex;
  flex-direction: column;
}
.content div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid blue;
  font-size: 20px;
  margin: 0;
  padding: 5px;
}
.content div div{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 50%;
  color: white;
  background: red;
  box-shadow: 2px 3px 2px black;
  margin: 1px;
  padding: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
}
.content div div:active{
  box-shadow: inset -2px 0px 5px black;
}
.content .blank{
  margin: 27px 0 0;
}
.content > div > span{
  margin: 0 5px;
}
.set > span{
  text-decoration: line-through;
}
input[type=checkbox]{
  cursor: pointer;
}

.show{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100000px;
  background: rgba(0, 0, 0, 0.205);
}
.show > div{
  background: rgb(255, 231, 151);
  border: 2px solid;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;

  animation: popup .5s ease forwards;
}
@keyframes popup{
  0%{scale: .5;}
  50%{scale: 1.1;}
  100%{scale: 1;}
}
.show > div > div{
  background: red;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 0;
}
.show button{
  background: #0073ff;
  color: white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

h2 > a{
  color: #0073ff;
  text-decoration: none;
  margin: 0 0 0 5px;
  text-shadow:  1.5px .5px 1px black;
}
h2 > a:hover{
  text-shadow: none;
}
h2 > a:active{
  text-shadow: none;
}
